
.icon-address:before { content: '\e800'; } /* '' */
.icon-mail:before { content: '\e801'; } /* '' */
.icon-cart:before { content: '\e802'; } /* '' */
.icon-cart-order1:before { content: '\e803'; } /* '' */
.icon-quantity:before { content: '\e804'; } /* '' */
.icon-quantity1:before { content: '\e805'; } /* '' */
.icon-list-1:before { content: '\e806'; } /* '' */
.icon-bag:before { content: '\e807'; } /* '' */
.icon-list:before { content: '\e808'; } /* '' */
.icon-clipboard:before { content: '\e809'; } /* '' */
.icon-wallet:before { content: '\e80a'; } /* '' */
.icon-money1:before { content: '\e80b'; } /* '' */
.icon-menu:before { content: '\e80c'; } /* '' */
.icon-logout:before { content: '\e80d'; } /* '' */
.icon-login-1:before { content: '\e80e'; } /* '' */
.icon-right-dir:before { content: '\e80f'; } /* '' */
.icon-cancel:before { content: '\e810'; } /* '' */
.icon-cancel-circled:before { content: '\e811'; } /* '' */
.icon-ok:before { content: '\e812'; } /* '' */
.icon-trash-empty:before { content: '\e813'; } /* '' */
.icon-login:before { content: '\f02c'; } /* '' */
.icon-logout-1:before { content: '\f02d'; } /* '' */
.icon-money:before { content: '\f0d6'; } /* '' */
.icon-mail1:before { content: '\f0e0'; } /* '' */
.icon-plus1:before { content: '\f0fe'; } /* '' */
.icon-minus:before { content: '\f146'; } /* '' */
.icon-minus1:before { content: '\f147'; } /* '' */
.icon-expand:before { content: '\f150'; } /* '' */
.icon-collapse:before { content: '\f151'; } /* '' */
.icon-plus:before { content: '\f196'; } /* '' */
.icon-trash:before { content: '\f1f8'; } /* '' */
.icon-cart-add:before { content: '\f217'; } /* '' */
.icon-cart-order:before { content: '\f218'; } /* '' */
.icon-address1:before { content: '\f2bb'; } /* '' */